a href="/">Back</a>
<%= @students %>
<%= @coolest_person %>

<br>

<% @ students.each do |student| %>
		<strong><%=student[:first_name] %></strong>
		<strong><%=student[:last_name] %></strong>

		<br>
<% end %>

