 

<link rel="stylesheet" type="text/css" href="styles.css">
<head>
	<title>Seinfeld Fan Page</title>

<h1 class="seinfeld_title">A Comedic Masterpiece: A Show about Nothing</h1>


<img class="seinfeld_pic" src="images/seinfeld.jpg">

<div class="seinfeld_content">
	<ul class="fonterize">

	<li> <%= Faker::Lorem.paragraphs (7) %> </li>

	</ul>

</div>


