<!-- <html> --> 

<link rel="stylesheet" type="text/css" href="styles.css">
<head>
	<title>Seinfeld Fan Page</title>



	



<img class="seinfeld_pic" src="images/seinfeld.jpg">

<div class="seinfeld_content">
	<ul class="fonterize">

	<p> <%= Faker::Lorem.paragraph %> </p>

	</ul>

</div>


<!-- <footer>
	<ul class="inline-nobullets">
		<li>Copyright William Griffin</li>
		<li>All Rights Reserved</li>
	</ul>
	

</footer>
 -->

<!-- </html>