<!-- <html> --> 

<!-- <link rel="stylesheet" type="text/css" href="styles.css">
<head>
	<title>Seinfeld Fan Page</title> -->



	
<!-- <header>
	<ul class="inline-nobullets">
		<li> <a href="./day8index">Seinfeld</a></li>
		<li> <a href="./jerry"></a>Jerry</li>	
		<li> <a href="./kramer"></a>Kramer</li>

	</ul>			

</header> -->


<img class="seinfeld" src="images/seinfeld.jpg">

<div class="seinfeldcontent">


	<p> <%= Faker::Lorem.paragraph %> </p>
	

</div>


<!-- <footer>
	<ul class="inline-nobullets">
		<li>Copyright William Griffin</li>
		<li>All Rights Reserved</li>
	</ul>
	

</footer>
 -->

<!-- </html>