<html>

<link rel="stylesheet" type="text/css" href="styles.css">
<head>
	<title>Jerry</title>
</head>


<body>

<!-- <header>
	<ul class="inline-nobullets">
		<li> <a href="./day8index">Seinfeld</a></li>
		<li> <a href="./jerry"></a>Jerry</li>	
		<li> <a href="./kramer"></a>Kramer</li>

	</ul>		

</header> -->


<img class="jerry" src="images/jerry.jpg">

<div class>



</div>
<!-- <footer>
	<ul class="inline-nobullets">
		<li>Copyright William Griffin</li>
		<li>All Rights Reserved</li>
	</ul>
	

</footer> -->

</body>
</html>



<!-- <strong><a href="/"><Home</a></strong> -->









