<html>

<link rel="stylesheet" type="text/css" href="styles.css">
<head>
	<title>Jerry</title>
</head>
<body>

<img class="jerry" src="/images/jerry.jpeg">

</body>
</html>

<strong><a href="/"><Home</a></strong>









