<html>

<link rel="stylesheet" type="text/css" href="styles.css">
<head>
	<title>Jerry</title>
</head>


<body>

 <h1>Comedian Turned Mastermind</h1>

<img class="jerry_pic" src="images/jerry.jpg">

<div class="jerry_content">

	<ul="fonterize">
		<p> <%= Faker::Lorem.paragraph %> </p>
	</ul>

</div>




</body>
</html>












