<html>
<head>

<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Kramer</title>


</head>
<body>


<h1>With Friends like These</h1>
 
<img class="kramer_pic" src="images/kramer.jpg">
 

<div class="kramer_content">
	<ul="fonterize">
		<p> <%= Faker::Lorem.paragraph %> </p>
	</ul>
</div>




</body>
</html>

