<html>
<head>

<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Kramer</title>
</head>
<body>

<!-- <header>
<ul class="inline-nobullets">
		<li> <a href="./day8index">Seinfeld</a></li>
		<li> <a href="./jerry"></a>Jerry</li>	
		<li> <a href="./kramer"></a>Kramer</li>

	</ul>

</header> -->
 
<img class="kramer" src="images/kramer.jpg">


<!-- <footer>
	<ul class="inline-nobullets">
		<li>Copyright William Griffin</li>
		<li>All Rights Reserved</li>
	</ul>
	

</footer> -->


</body>
</html>

