<html>
<head>

<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Kramer</title>


</head>
<body>



 
<img class="kramer_pic" src="images/kramer.jpg">
 

<div class="kramer_content">

	<p> <%= Faker::Lorem.paragraph %> </p>

</div>




</body>
</html>

