<html>
<head>

<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Kramer</title>


</head>
<body>


<h1 class="kramer_title">
	With Friends like These
</h1>
 
<img class="kramer_pic" src="images/kramer.jpg">
 

<div class="kramer_content">

	<ul class="fonterize">
		<li> <%= Faker::Lorem.paragraphs (6) %> </li>
	</ul>

</div>




</body>
</html>

