<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Seinfeld</title>

</head>
a

<body>
<%= yield %>


	
	

	<!-- <strong><a href="/"><Home</a></strong> -->

	
		<!-- <div> class="body"</div> -->
		
		
		
</body>

</html>