<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="styles.css">

	<title>Seinfeld</title>

</head>


<body>

<header class="header">
	<ul class="inline-nobullets">
		<li> <a href="/">Seinfeld</a></li>
		<li> <a href="/jerry">Jerry</a></li>	
		<li> <a href="/kramer">Kramer</a></li>
	</ul>			
</header>

<%= yield%>

	<!-- <div class="body">

		<div class="header"><div>
			<h1 class="The Seinfeld Show"></h1>

		<div class="content">
			
		</div>

		<div class="footer"></div> -->





	<!-- </div> -->



	
	

	<!-- <strong><a href="/"><Home</a></strong> -->

	
		<!-- <div> class="body"</div> -->
		
<footer class="footer">
	<ul class="inline-nobullets">
		<li>Copyright William Griffin</li>
		<li>All Rights Reserved</li>
	</ul>
</footer>
		


</body>

</html>