<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Seinfeld</title>

</head>
a

<body>
<%= yield %>

.jerry {
	
	
}
	<strong><a href="/"><Home</a></strong>

	
		<!-- <div> class="body"</div> -->
		
		<footer>
				Copyright William Griffin ZZZ
		</footer>
		
</body>

</html>