body {
	background-color: #99CCFF;
	width: 100%;
	height: 100%;
}

.inline-nobullets li {
    list-style-type: none;
    display: inline-block;
    padding-right: 250px;
    font-size: 40px;
}
	 
.fonterize {
	font-family: oblique;
	font-size: 30px;

}

.seinfeld_content {
background-color: red

}

.seinfeld_pic {
position: absolute;
width: 900px;
height: 900px;
top: 400px;
background-color: green
}


.jerry_pic {
	width: 650px;
	height: 6500px;
	background-color: green;
	top: 200px;
}


.jerry_content {
background-color: red

}

.kramer_pic {
	width: 800px ;
	height: 800px ;
	background-color: green
}


.kramer_content {
background-color: red


}


.header {
	width: 100%;
	position: absolute;
	float: top;
	background-color: orange
}



.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: orange
}






