body {
	background-color: #99CCFF;
	width: 100%;
	height: 100%;
}


.inline-nobullets li {
    list-style-type: none;
    display: inline-block;
    padding-right: 250px;
    font-size: 40px;
}

	 
.fonterize {
	font-family: oblique;
	font-size: 40px;
	list-style-type: none;
	

}

.seinfeld_title {
	position: absolute;
	top: 130px;
	left: 500px;
	font-size: 60px;
	font-family: helvetica;
	background-color: green;
}


.seinfeld_pic {
position: absolute;
width: 850px;
height: 850px;
top: 250px;
left: 250px;
background-color: green;

}

.seinfeld_content {
	background-color: red;
	width: 1200px;
	height: 800px;
	position: absolute;
	list-style: none;
	right: 100px;
	top: 350px;
}


.jerry_title {
	position: absolute;
	/*top: 130px;*/
	/*left: 500px;*/
	font-size: 60px;
	font-family: helvetica;
	background-color: green;
	right: 750px;
	top: 150px;


}


.jerry_pic {
	width: 700px;
	height: 700px;
	position: absolute;
	top: 300px;
	left: 200px;
}



.jerry_content {
background-color: red;
width: 1300px;
height: 800px;
position: absolute;
right: 200px;
bottom: 200px;

}


.kramer_title {
	position: absolute;
	top: 300px;
	left: 500px;

}


.kramer_pic {
	width: 800px ;
	height: 800px ;
	background-color: green;
	position: absolute;
	right: 100px;
	top: 200px;
}


.kramer_content {
background-color: red;
width: 1300px;
height: 800px;
position: absolute;
top: 300px;
left: 200px;
}


.header {
	width: 100%;
	position: absolute;
	float: top;
	background-color: orange;
}



.footer {
	width: 100%;
	position: absolute;
	float: bottom;
	bottom: 0px;
	background-color: orange;
}






