body {
	background-color: #99CCFF;
	width: 100%;
	height: 100%;
}

.inline-nobullets li {
    list-style-type: none;
    display: inline-block;
    padding-right: 150px;
}
	 

.images li {

}

.seinfeld {

width: 500px;
height: 500px;

}



.footer {
	position: absolute;
	bottom: 0px;

}

.header {

	position: absolute;
	top: 0px;
}